{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="login_name"><a>{{ cuser_name }}</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li ><a href="/manage/project_manage">项目管理</a></li>
            <li ><a href="/manage/module_manage">模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/interface/case_manage">用例管理</a></li>
            <li><a href="/interface/task_manage">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mockserver</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>

        <!-- 通过返回的list标签判断当前查询操作显示列表 -->

        {% if type == "list" %}
        <form  action="/interface/search_name/" method="get">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h3 class="page-header">用例列表</h3>
            <!--<form method="post" action="/interface/search_name/">-->
                <div class="input-group col-md-3" style="margin-top:0px; positon:relative">
                    <input type="text" name = "case_name" class="form-control"placeholder="请输入用列名称"  >
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-search"  >查找</button>
                    </span>
                </div>



          <button id="add_btn"
                  type="button" class="btn btn-primary" style="float: right"
                  onclick="window.location.href='/interface/add_case'"
          >创建</button>

          <!--<a href="/project_manage_add" >新增</a>-->
          <div class="table-responsive">

             <table class="table table-striped">
              <thead>
                <tr>
                    <th>id</th>
                  <th>用例名称</th>
                  <th>URL</th>
                  <th>请求方法</th>
                  <th>参数类型</th>
                  <th>Header</th>
                  <th>参数</th>
                  <th>创建人</th>
                  <th>创建时间</th>
                  <th>返回结果</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for p_case_list in case_list %}
                <tr>
                  <td>{{ p_case_list.id }}</td>
                  <td>{{ p_case_list.name }}</td>
                  <td>{{ p_case_list.url}}</td>
                  <td>{{ p_case_list.req_method }}</td>
                  <td>{{ p_case_list.req_type}}</td>
                  <td>{{ p_case_list.req_header  }}</td>
                  <td>{{ p_case_list.req_param  }}</td>
                  <td>{{ p_case_list.creator  }}</td>
                  <td>{{ p_case_list.create_time | date:"Y-m-d H:i:s"}}</td>
                  <td>{{ p_case_list.rsp_assert }}</td>
                  <td>
                  <a id="op_edit{{project_list.id }}" title="编辑" class="glyphicon glyphicon-pencil" href="/interface/edit_case/{{p_case_list.id}}"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a id="op_del{{project_list.id }}" title="删除" class="glyphicon glyphicon-trash" href="/interface/del_case/{{p_case_list.id}}"></a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
          <!--列表分页器 -->
          <div class="pagination">
              <span class="step-links">
                  <ul class="pagination">
                      <!--是否有上一页 -->
                      {% if case_list.has_previous  %}
                          <li><a href="?case_name={{ case_name }}&page={{ case_list.previous_page_number }}">&laquo;</a></li>
                      {% endif %}
                      <li><a href="#">{{ case_list.number }}</a> </li>

                       <!--是否有下一页 -->
                      {% if case_list.has_next  %}
                          {% if case_name %}
                              <!--Page.next_page_number()[source]：返回下一页的页码。如果下一页不存在，抛出InvalidPage异常。 -->
                              <li><a href="?case_name={{ case_name }}&page={{ case_list.next_page_number }}">&raquo;</a></li>
                          {% else %}
                              <li><a href="?page={{ case_list.next_page_number }}">&raquo;</a></li>
                          {% endif %}
                      {% endif %}
                       <li><a href="#">共：{{ case_list.paginator.num_pages }} 页</a></li>
                  </ul>

              </span>
          </div>
        </div>
      </form>
      {% endif %}

        <!-- 新增页面 -->
              {% if type == "debug" %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h3 class="sub-header" >在线postman</h3>
                <div class="row">
                    {% block case_add %}

                    {% endblock %}
                </div>
                </div>
              {% endif %}

        <!-- 修改页面 -->
              {% if type == "edit" %}
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h3 class="sub-header" >用例修改/调试</h3>
                    <div class="row">
                    {% block case_edit %}

                    {% endblock %}
                   </div>
                </div>
              {% endif %}

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
 {% endblock %}
