{% extends "base.html" %}
{% block content %}
    <form class="form-signin" action="/login_action/" method="post">
      <!--<img class="mb-4" src="http://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">测试平台</h1>
      <input type="input" name="user_name" class="form-control" placeholder="用户名" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="密码" required>
      <p class="text-danger">{{ error}}</p><br>
      {% csrf_token %}
        <!--<div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>-->
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
{% endblock %}










