{% extends "base.html" %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a e >{{ cuser_name }}</a></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">项目管理</a></li>
            <li><a href="#">模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">用例管理</a></li>
            <li><a href="">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mockserver</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>

        <form  action="/login_action/" method="post">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">项目列表</h3>
          <!--<button type="button" class="btn btn-primary "  >新增</button>-->
          <a href="/project_manage_add" >新增</a>
          <div class="table-responsive">

             <table class="table table-striped">
              <thead>
                <tr>
                  <th>项目名称</th>
                  <th>描述</th>
                  <th>状态</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for project_list in latest_project_list %}
                <tr>
                  <td>{{ project_list.pname }}</td>
                  <td>{{ project_list.description}}</td>
                  <td><input type="checkbox" name="status" id="id_status"
                             value="True" {% if project_list.status  %} checked {% endif %} ></td>
                  <!--<td>{{ project_list.status }}</td>-->
                  <td>{{ project_list.create_time }}</td>
                  <td><!--<button type="button" class="btn btn-primary">编辑</button>
                  <button type="button" class="btn btn-primary">删除</button>>-->
                  <a href="/project_manage_edit/{{project_list.id }}">编辑</a> <a href="/project_manage_delete/{{project_list.id }}">删除</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>


          </div>
        </div>
      </form>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
{% endblock %}

